* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #131720, #1a1f29);
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
}

/* Navigation Bar*/
.topnav {
  overflow: hidden;
  background: linear-gradient(to bottom, #131720, #1a1f29);
  padding: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 23px 80px;
  text-decoration: none;
  transition: 0.3s;
}

.topnav a:hover {
  background-color: #1e2430;
}

.topnav .search-container {
  float: right;
}

/* Search Form */
form {
  background-color: #1e2430;
  width: 300px;
  height: 43px;
  border-radius: 11px;
  display: flex;
  align-items: center;
}

input {
  font: 15px Arial, sans-serif;
  color:#706b6b;
  height: 100%;
  width: 100%;
  padding: 6px 9px;
  background: transparent;
}

/* Image Thumbnails */
.thumbnail {
  height: 350px;
  width: 300px;
  border-radius: 19px;
  object-fit: cover;
}

/* Grid Layout */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Cards */
.card {
  border-radius: 19px;
  padding: 15px;
  text-align: center;
  background: linear-gradient(to bottom, #1e2430, #232b3a);
  color: #ffffff;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

a.active{
  background-image: url("kno.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  border-radius: 80px;
}
/* Style for the title */
#title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for the link */
#title a {
  color: #82bbf7; /* Blue color for the link */
  text-decoration: none; /* Remove underline */
}

#title a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Style for the image */
#image {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px;
}
